html, body {
  width: 100%;
  height: 100vh;
  background-color: black;
}
#root {
  background-color: black;
}
.App {
  background-color: black;
  background-image: url('./assets/home1.21.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;

}

#navBarBtn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 4%;
  bottom: 5%;
}

